cairocffi==1.2.0
CairoSVG==2.5.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
coverage==5.3.1
cssselect2==0.4.1
defusedxml==0.7.1
idna==2.10
pathlib==1.0.1
Pillow==8.2.0
pony==0.7.14
postgres==3.0.0
psycopg2==2.8.6
psycopg2-binary==2.8.6
psycopg2-pool==1.1
pycparser==2.20
requests==2.25.1
six==1.15.0
tinycss2==1.1.0
urllib3==1.26.2
vk-api==11.9.1
webencodings==0.5.1

